body {
  font-family: Inter, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 20%;
  min-height: 0vh;
  padding: 50px 3% 80px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 5vw;
  padding-left: 5vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #404040;
  text-align: center;
}

.container.space-below {
  min-height: 80vh;
  margin-bottom: 40px;
  padding-right: 0vw;
  padding-left: 0vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container.balls {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container.founders {
  width: 95vw;
  padding-top: 50px;
  padding-right: 0vw;
  padding-left: 0vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.container.founders.expert {
  padding-top: 30px;
}

.container.selitys_container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container.cl {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.content-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 440px;
  margin-bottom: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.content-wrap.cl_c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.heading {
  display: block;
  overflow: visible;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 5px;
  color: #e8e8e8;
  font-size: 30px;
  line-height: 1;
  text-align: center;
  letter-spacing: -0.5px;
  -o-object-fit: fill;
  object-fit: fill;
}

.heading.top_header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  color: #404040;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
}

.paragraph {
  margin-bottom: 0px;
  color: #001632;
  font-size: 17px;
  line-height: 1.3;
  font-style: normal;
  text-align: left;
  white-space: normal;
}

.paragraph.paragraph-centre-white {
  max-width: 570px;
  color: #fff;
  text-align: center;
}

.paragraph.koko_teksti {
  text-align: justify;
}

.paragraph.roadmap_p {
  margin-left: 20px;
}

.button {
  margin-right: 15px;
  padding: 18px 35px;
  border-radius: 45px;
  background-color: #e7e7e7;
  font-size: 16px;
}

.button.button-space {
  margin-top: 25px;
}

.button.button-space:active {
  background-color: #c0e5ff;
}

.service-card-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.footer-title {
  display: inline-block;
  margin-bottom: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #212122;
  font-size: 18px;
  font-weight: 600;
}

.footer-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 16%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer-icon {
  margin-right: 10px;
  -webkit-filter: invert(100%) brightness(200%);
  filter: invert(100%) brightness(200%);
  color: #e8e8e8;
}

.footer-logo {
  width: 110px;
  margin-bottom: 25px;
}

.footer {
  padding: 50px 5%;
  background-color: #fff;
}

.footer-text-02 {
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-left: 5px;
  font-family: Inter, sans-serif;
  color: #e8e8e8;
  font-size: 20px;
  line-height: 40px;
  font-weight: 500;
  text-align: center;
}

.footer-link {
  margin-bottom: 15px;
  margin-left: 1px;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  color: #4e5d78;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.footer-link:hover {
  color: #89ccf8;
}

.footer-link-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  margin-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
  max-width: 300px;
  padding: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.service-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  max-width: 280px;
  padding: 30px 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 14px 14px 200px 0 rgba(0, 22, 50, 0.06);
}

.card-content-wrap {
  margin-bottom: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  color: #6b539a;
  text-align: center;
}

.heading-3 {
  margin-top: 0px;
  margin-bottom: 8px;
  color: #89ccf8;
  text-align: left;
}

.heading-3.team {
  color: #424245;
  font-size: 20px;
}

.heading-3.tb_element {
  color: #404040;
}

.paragraph-2 {
  overflow: auto;
  max-width: 320px;
  margin-bottom: 0px;
  color: #546681;
  font-size: 17px;
  line-height: 1.4;
  text-align: left;
}

.hero-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  min-height: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-block.yla {
  width: auto;
  margin-bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-block {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  max-width: 400px;
  min-height: 350px;
  padding: 30px 0px 30px 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-block.scales {
  width: 15px;
  height: 15px;
  min-height: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #5e5e5e;
}

.image-block.scales.first {
  background-color: #89ccf8;
}

.content-block-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  min-height: 350px;
  padding: 25px 32px 25px 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.section-content {
  padding: 60px 5%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #fff;
  background-image: url('../images/bg_shade.svg');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.service-icon {
  width: auto;
  height: 70px;
  margin-bottom: 25px;
  padding-bottom: 0px;
}

.service-icon.platform_icon {
  width: auto;
  margin-top: 0px;
  opacity: 0.3;
}

.service-icon.platform_icon.tyokalu {
  width: auto;
  height: 70px;
  margin-top: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.column-wrap-reversed {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 120px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.title {
  max-width: 500px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #89ccf8;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.heading-primary {
  width: 120%;
  max-width: 500px;
  margin-top: 0px;
  margin-bottom: 20px;
  color: #666;
  font-size: 30px;
  line-height: 1;
  font-weight: 700;
  text-align: left;
  letter-spacing: -0.5px;
}

.heading-primary.h3-centre {
  max-width: 700px;
  color: #fff;
  font-weight: 500;
  text-align: center;
}

.heading-primary.h3-centre.blue {
  margin-bottom: 0px;
  color: #424245;
}

.heading-primary.h3-centre.blue.cl {
  width: 100%;
  margin-bottom: 0px;
  color: #666;
  text-align: left;
}

.heading-primary.h3-centre.blue.title_team {
  color: #424245;
  font-weight: 600;
}

.heading-primary.h3-centre-white {
  max-width: 700px;
  color: #fff;
  text-align: center;
}

.heading-primary.teksti_e {
  max-width: 700px;
  color: #d6d6d6;
  font-size: 35px;
  text-align: center;
}

.heading-primary.kw {
  width: 100%;
  margin-bottom: 10px;
  font-size: 30px;
}

.button-wrap-hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.link {
  color: #546681;
  font-size: 16px;
  text-decoration: none;
}

.link:hover {
  color: #484dff;
}

.section-logo {
  padding: 15px 5%;
  background-color: #fff;
}

.full-logo-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  max-width: 1160px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  padding: 36px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.light-logo {
  width: 130px;
}

.column-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.phone-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #546681;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.dropdown-list-wrap {
  position: relative;
  z-index: 9;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  padding: 15px 12px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 1px 1px 9px 0 rgba(44, 62, 80, 0.1);
}

.link-block {
  text-decoration: none;
}

.navigation-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 14px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #546681;
  font-size: 16px;
  text-decoration: none;
}

.navigation-link:hover {
  color: #484dff;
}

.navigation-block-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation-block-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.dropdown-list {
  background-color: transparent;
}

.dropdown-list.w--open {
  z-index: 7;
  min-width: 460px;
  padding-top: 15px;
  border-radius: 15px;
}

.dropdown-list.dropdown-smaller {
  left: -30px;
  min-width: 360px;
}

.logo-image {
  width: 90px;
}

.dropdown-mobile {
  display: none;
}

.navigation-link-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation-text {
  width: 100%;
  text-decoration: none;
}

.phone-image {
  display: block;
  margin-right: 8px;
  text-align: center;
}

.container-navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.phone-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-right: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.mobile-button-link {
  display: none;
}

.arrow-down {
  margin-right: 7px;
  margin-left: 8px;
}

.navigation {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 9;
  min-height: 100px;
  padding: 25px 5%;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.08);
}

.title-wrap-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: left;
}

.title-wrap-left.teksti_x.otsikko_x {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.dropdown-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.feature-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 12px 15px 10px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 10px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  text-decoration: none;
}

.feature-wrap:hover {
  background-color: rgba(72, 77, 255, 0.03);
}

.feature-icon {
  width: 26px;
  margin-right: 16px;
}

.feature-content-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.short-title {
  margin-bottom: 2px;
  color: #2e3642;
  font-size: 17px;
  line-height: 22px;
  font-weight: 500;
}

.paragraph-small {
  max-width: 450px;
  margin-bottom: 0px;
  color: #3b4c5b;
  font-size: 14px;
  letter-spacing: -0.2px;
}

.hero-image-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 30%;
  min-height: 200px;
  margin-top: 0px;
  margin-bottom: 0vh;
  padding: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.content-block-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  max-width: none;
  min-height: 350px;
  padding: 25px 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.testimonial-slider {
  height: 100%;
  background-color: transparent;
}

.slider-arrow-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 45px;
}

.icon-3 {
  color: #4c4172;
}

.slider-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 45px;
  margin-right: 15px;
  padding: 15px 36px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  background-color: #fff;
  box-shadow: 1px 1px 45px 0 rgba(0, 22, 50, 0.1);
}

.testimonial-content-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  min-height: 350px;
  padding: 25px 25px 25px 55px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.slide-nav {
  display: none;
}

.slider-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 15px;
  padding: 20px 36px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  background-color: #fff;
  box-shadow: 1px 1px 55px 0 rgba(0, 22, 50, 0.08);
}

.testimonial-content-block {
  position: relative;
  max-width: 590px;
}

.arrow {
  width: 28px;
}

.left-arrow {
  position: absolute;
  left: auto;
  top: auto;
  right: 40%;
  bottom: 0%;
  display: none;
}

.testimonial-image-block {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  min-height: 350px;
  padding: 85px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.testimonial-columns-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.author-name {
  margin-top: 0px;
  color: #546681;
  font-size: 17px;
  font-weight: 400;
}

.arrow-disabled {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 15px;
  padding: 20px 36px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
}

.right-arrow {
  left: auto;
  top: auto;
  right: 35%;
  bottom: 0%;
  display: none;
}

.testimonial-paragraph {
  color: #546681;
  font-size: 18px;
  line-height: 1.4;
  font-style: normal;
  font-weight: 400;
}

.logo {
  width: 110px;
  margin-bottom: 6px;
}

.quote-image {
  position: absolute;
  left: -15px;
  top: -25px;
  min-width: 70px;
}

.testimonial-author-wrap {
  margin-top: 45px;
}

.text-span {
  color: #484dff;
}

.button-default {
  margin-top: 0px;
  padding: 10px 35px;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  border-radius: 50px;
  background-color: #424245;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
}

.button-default:hover {
  background-color: #5f5f5f;
}

.button-default.team_button {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #cfcfcf;
  font-size: 17px;
}

.button-default.team_button:hover {
  background-color: #89ccf8;
}

.button-default.background {
  padding-right: 30px;
  padding-left: 30px;
  border-width: 1px;
}

.button-default.main_button {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #d6d6d6;
  font-size: 17px;
}

.button-default.main_button:hover {
  background-color: #89ccf8;
}

.button-default.main_button.yla_nappi {
  padding-top: 10px;
  padding-bottom: 10px;
  border-width: 2px;
  border-color: #d6d6d6;
  border-radius: 50px;
  background-color: transparent;
  color: #d6d6d6;
  font-weight: 500;
}

.button-default.main_button.yla_nappi:hover {
  border-width: 2px;
  border-color: #89ccf8;
  color: #89ccf8;
}

.new-tag {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 8px;
  padding: 4px 16px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  background-color: rgba(45, 202, 115, 0.1);
  color: #2dca73;
  font-size: 12px;
}

.title-wrap-horizontal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 100vh;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.paragraph-hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 700px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #8e8e8e;
  font-size: 20px;
  line-height: 1.4;
  font-style: normal;
  text-align: left;
}

.content-block-hero {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 20%;
  margin-bottom: 20%;
  margin-left: 0%;
  padding-left: 0%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 20px;
}

.content-block-hero.yla {
  height: 20%;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-top: 0vh;
  padding-bottom: 0vh;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.content-block-hero.yla.main {
  height: 80%;
  padding-top: 20vh;
  padding-bottom: 10vh;
}

.button-navigation {
  margin-right: 15px;
  padding: 18px 35px;
  border-radius: 50px;
  background-color: #484dff;
  font-size: 16px;
}

.title-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
  padding-right: 10px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.title-wrap.team_title {
  margin-bottom: 0px;
  color: #fff;
}

.section-statistics {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100px;
  padding: 0px 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #424245;
  color: #424245;
}

.footer-text {
  max-width: 320px;
  margin-bottom: 25px;
  color: #546681;
  font-size: 17px;
  line-height: 1.4;
  text-align: left;
}

.legal-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1240px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.legal-text {
  color: rgba(107, 111, 154, 0.61);
  font-size: 16px;
}

.social-link-wrap {
  display: none;
}

.social-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 35px;
  height: 35px;
  margin-right: 15px;
  padding: 8px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  background-color: #fbdee3;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.circle-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  max-height: 250px;
  max-width: 250px;
  min-height: 250px;
  min-width: 250px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 1000px;
  background-color: #fff;
  box-shadow: -4px 4px 20px 1px #292929;
}

.statistic-circle-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  padding: 10px 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.title-capped {
  color: #546681;
  font-size: 1px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.counterup {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #424245;
  font-size: 25px;
  line-height: 40px;
  font-weight: 500;
}

.flowbase-close-card {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 13px 10px 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.43;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  cursor: pointer;
}

.flowbase-close-card:hover {
  opacity: 1;
}

.flowbase-home-link {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

.flowbase-title {
  margin-bottom: 4px;
  font-family: Circularstd;
  color: #5b3acc;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.25px;
}

.flowbase-author {
  display: inline-block;
  color: #9b9eb8;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: -0.3px;
  text-decoration: none;
}

.flowbase-left-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flowbase-title-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 40px;
  margin-right: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.flowbase-card-wrap {
  position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: 99999;
  min-width: 520px;
  margin-bottom: 30px;
  margin-left: 30px;
  border-radius: 200px;
  background-color: #fff;
  box-shadow: 8px 1px 20px 0 rgba(128, 124, 142, 0.15);
}

.flowbase-underline {
  text-decoration: underline;
}

.flowbase-icon-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 60px;
  margin-right: 25px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 200px;
  background-color: #7020ff;
}

.text-span-2 {
  color: #5b3acc;
}

.arrow-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.feature-number-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.section-content-plain {
  min-height: 500px;
  padding: 60px 5%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #fff;
}

.section-content-plain.cl {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.blog-article-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.blog-card {
  overflow: hidden;
  width: 100%;
  max-width: 280px;
  margin-right: 0px;
  padding: 0px 0px 20px;
  border-radius: 4px;
  background-color: #f8f8f8;
  box-shadow: 7px 7px 10px 0 #ebebeb;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.blog-card:hover {
  box-shadow: 14px 14px 40px 0 rgba(118, 126, 173, 0.12);
  -webkit-transform: translate(0px, -4px);
  -ms-transform: translate(0px, -4px);
  transform: translate(0px, -4px);
}

.blog-placeholder-image {
  width: 100%;
  min-height: 170px;
  margin-right: -16px;
  margin-left: -16px;
  border-radius: 0px;
  background-color: #424245;
  background-image: url('../images/mina_kuva.png');
  background-position: 100% 100%;
  background-size: auto 100%;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
  -o-object-fit: fill;
  object-fit: fill;
}

.blog-content-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 140px;
  padding-top: 15px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.category-tag {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  padding: 12px 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  background-color: #c0e5ff;
}

.category-title {
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1.5px;
}

.blog-content {
  margin-bottom: 25px;
}

.section-blog {
  background-image: none;
  background-position: 0px 0px;
  background-size: auto;
}

.section-testimoinals {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 5%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f0f7ff;
}

.arrow-image-mobile {
  display: none;
}

.arrow-image-mobile-02 {
  display: none;
}

.section-cta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 145px 5%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #001632;
}

.feature {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
  padding-right: 0px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.content-icon {
  width: 35px;
  margin-right: 15px;
  opacity: 0.58;
}

.content-icon.light_bulb {
  width: 40px;
}

.content-title {
  margin-top: 7px;
  margin-bottom: 15px;
  color: #bfe4ff;
  font-size: 17px;
  line-height: 22px;
  font-weight: 500;
}

.blog-placeholder-image-03 {
  width: 100%;
  min-height: 220px;
  border-radius: 4px;
  background-image: url('../images/question-mark-271039_1920.jpg');
  background-position: 50% 50%;
  background-size: cover;
  -webkit-filter: brightness(96%);
  filter: brightness(96%);
}

.blog-placeholder-image-02 {
  width: 100%;
  max-height: 100px;
  min-height: 170px;
  border-radius: 0px;
  background-image: url('../images/question-mark-3470783_1920.jpg');
  background-position: 50% 50%;
  background-size: cover;
  -webkit-filter: grayscale(91%);
  filter: grayscale(91%);
}

.blog-placeholder-image-02.kysymys {
  background-image: url('../images/guestion_own.png');
  -webkit-filter: none;
  filter: none;
}

.blog-placeholder-image-02.kysymys.expert {
  background-image: url('../images/organization.png');
  background-position: 50% 50%;
  background-size: cover;
}

.container-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.link-02 {
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

.link-02:hover {
  color: hsla(0, 0%, 100%, 0.58);
}

.clone-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 250px;
  min-height: 50px;
  min-width: 150px;
  padding-right: 25px;
  padding-left: 25px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  background-color: #7020ff;
  background-image: linear-gradient(159deg, #7020ff, #7b41f1);
  box-shadow: inset -1px -1px 3px 0 rgba(32, 27, 61, 0.6), inset 1px 1px 3px 0 rgba(238, 230, 255, 0.44), 1px 1px 2px 0 #5b3acc;
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  color: #fff;
  font-size: 13px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.clone-button:hover {
  box-shadow: inset 1px 1px 3px 0 rgba(32, 27, 61, 0.22), inset -1px -1px 3px 0 rgba(238, 230, 255, 0), 1px 1px 2px 0 #5b3acc;
}

.text-span-3 {
  color: #5b3acc;
}

.hero-image {
  height: 100%;
  margin-bottom: 0px;
  margin-left: -10px;
  padding-top: 5px;
  padding-left: 0px;
}

.remove-before-use {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 99;
  display: none;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(46, 54, 66, 0.93);
}

.flowbase-card-delete {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 40px;
  padding: 15px 40px 15px 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image {
  margin-bottom: -20px;
}

.section {
  height: 100%;
  min-height: 100%;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.image-2 {
  height: 20%;
}

.image-3 {
  height: 20%;
  max-height: 30%;
  margin-bottom: 40px;
  margin-left: 0px;
  padding-left: 0px;
}

.image-3.footer {
  max-height: 20%;
  max-width: 20%;
  margin-top: -10px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-right: 0%;
  padding-bottom: 0px;
}

.image-4 {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.image-5 {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.image-6 {
  margin-left: -10px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.image-6.scala_image {
  opacity: 0.5;
}

.image-7 {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.section-2 {
  width: 60px;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  min-height: 250px;
  padding-right: 5vw;
  padding-left: 5vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #424245;
}

.div-block-2.team_div {
  height: 80px;
  min-height: 0px;
  margin-bottom: 20px;
  padding-top: 0px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  border-top: 2px solid #cfcfcf;
  background-color: transparent;
}

.image-8 {
  max-width: 40%;
}

.image_linkedin {
  -webkit-filter: brightness(200%) grayscale(100%);
  filter: brightness(200%) grayscale(100%);
}

.image_linkedin:hover {
  -webkit-filter: contrast(67%) brightness(167%) saturate(73%);
  filter: contrast(67%) brightness(167%) saturate(73%);
}

.image_linkedin.ala {
  margin-right: 5px;
  margin-left: -5px;
  -webkit-filter: brightness(62%) grayscale(100%);
  filter: brightness(62%) grayscale(100%);
}

.image_linkedin.ala:hover {
  -webkit-filter: brightness(155%) grayscale(100%);
  filter: brightness(155%) grayscale(100%);
}

.body {
  display: block;
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 0px;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.ala_linkki {
  height: 30px;
  margin-left: 0px;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .header {
    padding-top: 160px;
  }

  .container.space-below {
    margin-bottom: 80px;
  }

  .content-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 35px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .heading {
    text-align: center;
  }

  .footer-column {
    width: 20%;
  }

  .footer-column-large {
    width: 40%;
  }

  .column {
    width: 100%;
  }

  .hero-block {
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .image-block {
    width: 100%;
    min-height: auto;
    margin-bottom: 35px;
  }

  .content-block-left {
    width: 100%;
    padding-right: 25px;
  }

  .section-content {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .column-wrap-reversed {
    margin-bottom: 80px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .column-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .dropdown-link {
    width: 100%;
    min-width: 170px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 10px;
    color: #3b4c5b;
    font-size: 16px;
  }

  .dropdown-link:hover {
    background-color: rgba(115, 167, 213, 0.09);
  }

  .dropdown-link.w--current {
    color: #ff6f20;
  }

  .navigation-block-right {
    width: 100%;
  }

  .dropdown-mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0px;
    margin-left: 15px;
  }

  .navigation-link-wrap {
    display: none;
  }

  .dropdown-toggle {
    padding: 0px;
  }

  .container-navigation {
    position: relative;
    z-index: 99;
  }

  .mobile-button-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 55px;
    height: 55px;
    padding: 17px;
    border-radius: 50px;
    background-color: rgba(84, 102, 129, 0.08);
  }

  .mobiel-dropdown {
    right: 10%;
  }

  .mobiel-dropdown.w--open {
    min-width: 270px;
    margin-top: 74px;
    padding: 20px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 1px 1px 3px 0 rgba(84, 102, 129, 0.13);
  }

  .feature-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .feature-icon {
    margin-bottom: 15px;
  }

  .hero-image-wrap {
    width: 100%;
    min-height: auto;
  }

  .content-block-right {
    width: 100%;
    padding-left: 25px;
  }

  .testimonial-image-block {
    padding: 30px;
  }

  .hero-content {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .paragraph-hero {
    text-align: center;
  }

  .content-block-hero {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 35px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .circle-div {
    margin-bottom: 20px;
  }

  .statistic-circle-wrap {
    width: 100%;
  }

  .flowbase-card-wrap {
    display: block;
    max-width: 610px;
    min-width: auto;
    margin-right: 15px;
  }

  .arrow-image {
    display: none;
  }

  .arrow-wrap {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .feature-number-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .blog-card {
    max-width: 300px;
    padding: 20px 20px 35px;
  }

  .section-blog {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .arrow-image-mobile {
    position: relative;
    left: 55px;
    display: block;
  }

  .arrow-image-mobile-02 {
    position: relative;
    left: -55px;
    display: block;
  }

  .feature {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .content-icon {
    margin-bottom: 15px;
  }

  .container-flex {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .container.founders.expert {
    margin-right: 10px;
    margin-left: 10px;
  }

  .heading {
    font-size: 25px;
  }

  .heading.top_header {
    font-size: 25px;
  }

  .service-card-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer-column {
    width: 50%;
  }

  .footer-column-large {
    width: 50%;
    margin-bottom: 25px;
  }

  .heading-3.tb_element {
    font-size: 20px;
  }

  .section-content {
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 3%;
    padding-left: 3%;
  }

  .heading-primary.h3-centre.blue.cl {
    font-size: 25px;
  }

  .heading-primary.h3-centre.blue.title_team {
    font-size: 25px;
  }

  .heading-primary.teksti_e {
    font-size: 25px;
  }

  .section-logo {
    padding-top: 20px;
  }

  .full-logo-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .logo-wrap {
    width: 100%;
    margin-bottom: 15px;
  }

  .navigation-link-wrap {
    display: none;
  }

  .phone-wrap {
    display: none;
  }

  .content-block-right {
    padding: 10px;
  }

  .testimonial-content-wrap {
    width: 100%;
    padding-left: 25px;
  }

  .testimonial-image-block {
    width: 100%;
  }

  .testimonial-columns-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .logo {
    width: 130px;
  }

  .button-navigation {
    display: none;
  }

  .flowbase-card-wrap {
    min-width: auto;
    margin-left: 15px;
  }

  .section-content-plain.cl {
    margin-right: 10px;
    margin-left: 10px;
  }

  .blog-article-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .blog-card {
    width: 100%;
    margin-bottom: 35px;
  }

  .section-blog {
    padding-right: 3%;
    padding-left: 3%;
  }

  .clone-button.w--current {
    text-align: center;
  }

  .flowbase-card-delete {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .container.founders.expert {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .heading {
    margin-top: 20px;
    font-size: 25px;
    text-align: left;
  }

  .heading.top_header {
    text-align: left;
  }

  .button {
    margin-right: 0px;
    margin-bottom: 15px;
  }

  .footer-column {
    width: 100%;
  }

  .footer-column-large {
    width: 100%;
  }

  .service-card {
    margin-top: 10px;
  }

  .image-block {
    padding: 8px;
  }

  .column-wrap-reversed {
    margin-bottom: 0px;
  }

  .heading-primary.teksti_e {
    width: 100%;
  }

  .button-wrap-hero {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .phone-wrap {
    display: none;
  }

  .navigation {
    padding-right: 20px;
    padding-left: 20px;
  }

  .hero-image-wrap {
    height: 50%;
    padding: 10px;
  }

  .testimonial-content-wrap {
    padding: 15px;
  }

  .testimonial-image-block {
    padding: 15px;
  }

  .content-block-hero.yla.main {
    padding-top: 5vh;
    padding-bottom: 0vh;
  }

  .flowbase-close-card {
    top: 0px;
    right: 0px;
    bottom: auto;
  }

  .flowbase-title-wrap {
    width: 100%;
    padding-left: 4px;
  }

  .flowbase-card-wrap {
    min-width: auto;
    margin-right: 5px;
    margin-left: 5px;
  }

  .flowbase-icon-wrap {
    min-width: 60px;
  }

  .arrow-wrap {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .blog-card {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .flowbase-card-delete {
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: auto;
}